html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--text-color-p);
  background: var(--hed-ap-color);
}

:root {
  --text-color: #1C2752;
  /* --beckground-color: #2196f3; */
  --text-color-p: #7E7E7E;
  --body-background-color: #FFFFFF;
  --button-hover-focus: #188ce8;
  --footer-bacground-color: #2f303a;
  --teams-bacground-color: #f5f4fa;
  --border-color: #eeeeee;
  --icone-color: #afb1b8;
  --icone-bg-color: #f5f4fa;
  --timing-functione: cubic-bezier(0.4, 0, 0.2, 1);
  --hed-ap-color: #F2F2F2;

}

/* ================================================================ */
.hed__ap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  height: 69px;
  padding: 0 50px;
  margin: 0 auto;
  opacity: 0px;
  background-color: var(--hed-ap-color);
}

.hed__ap-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

.hed__ap-p {
  font-family: Inter;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #1C2752;
}

.hed__ap-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.hed__decor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  background: #FFFFFF;
  position: relative;
  z-index: -15;
  margin-bottom: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.hed__middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 128px;
  margin: 0 auto;
  /* background: #FFFFFF; */
  /* padding-bottom: 50px; */
  position: relative;
  z-index: -10;
}

.hed__middle-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 68px;

}

.hed__middle-contact-p {
  font-family: Mulish;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: var(--text-color);
}

.hed__middle-contact-p1 {
  font-family: Inter;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #7E7E7E;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 88px;
  margin: 0 auto;
  background: #FFB342;
  margin-top: -50px;

}

.menu__p {
  font-family: Inter;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #222222;
  text-decoration: none;
}

.menu__ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.menu__button {
  width: 298px;
  height: 68px;
  gap: 0px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
  background: rgba(28, 39, 82, 1);
  border: 2px solid rgba(28, 39, 82, 1);
  color: #F4F4F4;
  font-family: Inter;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  margin-right: 10px;
}


.heder__text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 50;
  position: absolute;
  margin: 300px 0 0 120px;
  gap: 20px;
}

.heder__back {
  margin-top: -60px;
  z-index: -50;
  position: relative;
}

.sections {
  margin: 0 auto;
  width: 1440px
}

.heder__text-top {
  display: flex;
  background: rgb(251, 251, 249);
  padding: 5px;
  opacity: 0.73;
  gap: 10px;
  background: #FFFFFF33;
  width: 662px;
}

.heder__text-p {
  font-family: Inter;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #FFFFFF;
}

.heder__text-h2 {
  font-family: Mulish;
  font-weight: 400;
  font-size: 60px;
  line-height: 78px;
  letter-spacing: 1.2000000476837158px;
  text-align: left;
  color: #FFFFFF;
}

.heder__button {
  background: #FFB342;
  width: 227px;
  height: 68px;
  border: 2px solid #FFB342;
  font-weight: 400;
  font-family: Inter;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.36000001430511475px;
  color: var(--text-color);
}

/* ========================Provide================================== */

.provide {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
  background: #ffffff;
  width: 1440px;
  margin: 0 auto;
}

.provide__conteiner {
  display: flex;
  gap: 60px;
  margin: 0 auto;
}

.provide__icon {
  display: flex;
  padding: 5px;
  opacity: 0.73;
  gap: 10px;
  background: #F4F4F4;
  width: 249px;
}

.provide__text-p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
}

.provide__h1 {
  font-family: Mulish, sans-serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 58.5px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: var(--text-color);
  padding-top: 20px;

}

.provide__text-p1 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #7E7E7E;
  padding-top: 20px;
}

.provide__rihgt-bottom {
  display: flex;
  gap: 15px;
  padding-top: 20px;
}

.provide__h4 {
  font-family: Mulish;
  font-size: 80px;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  color: #FFB342;
}

.provide__text-p2 {
  font-family: Mulish;

  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  color: var(--text-color);
  padding-top: 10px;
}

.provide__box {
  display: flex;
  justify-content: center;
  flex-direction: column;

  gap: 10px;
  background: #F4F4F4;
  width: 198px;
  height: 220px;
}

.provide__li {
  padding-top: 10px;
}

/* ================== Offer ============================ */

.offer {
  display: flex;
  /* padding-top: 94px; */
  padding-bottom: 94px;
}

.offer__container {
  background: #FFB342;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0 auto;
  width: 1440px;
  padding-top: 150px;
  height: 900px;

}

.offer__icon {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  width: 207px;
  gap: 15px;
  background: #F4F4F4;
  /* padding-left: 5px; */
}

.offer_text-p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  color: #1C2752;
}

.offer__middle {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

.offen__h4 {
  font-family: Mulish;
  font-size: 45px;
  font-weight: 400;
  line-height: 58.5px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  color: #1C2752;
}

.offer_text-p1 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  color: #1C2752;
}

.offer__icons {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
}

.offer__button {
  width: 249px;
  height: 68px;
  top: -0.36px;
  left: 218px;
  background: #FFB342;
}

.offer__button-color {
  width: 249px;
  height: 68px;
  top: -0.36px;
  left: 218px;
  border: 1px solid #FFFFFF;
  background: #FFFFFF;

}

.offen__position {
  display: flex;
  gap: 15px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.offer__img {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #222222;
}

.offer__second {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1160px;
  margin: 0 auto;
  background: #FFFFFF;
  padding: 50px;
  position: relative;
  z-index: 51;
  box-shadow: -1px 6px 18px 0px #00000017;
}

.offer__second-conteiner {
  display: flex;
  gap: 80px;

}

.offer__second-left-icon {
  display: flex;
  /* padding: 5px; */
  opacity: 0.73;
  gap: 10px;
  background: #F4F4F4;
  width: 249px;

}

.offen__second-h4 {
  font-family: Mulish;
  font-size: 45px;
  font-weight: 400;
  line-height: 58.5px;
  letter-spacing: 0.36000001430511475px;
  /* text-align: center; */
  color: #1C2752;
  padding-top: 15px;
}

.offen__second-p2 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #7E7E7E;
  padding: 5px;
}

.offen__button {
  background: #FFB342;
  border: 2px solid #FFB342;
  font-weight: 400;
  font-family: Inter;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.36000001430511475px;
  color: var(--text-color);
  width: 190px;
  height: 68px;
  margin-top: 20px;
}

/* ==================== service ================================================== */

.service {
  display: flex;
  padding-top: 120px;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  width: 1440px;
}

.sevice__icon {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  width: 207px;
  gap: 15px;
  background: #FFFFFF;
}

.service__p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  color: #1C2752;
}

.service__top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding-top: 20px;
}

.service__h1 {
  font-family: Mulish;
  font-size: 45px;
  font-weight: 400;
  line-height: 58.5px;
  letter-spacing: 0.36000001430511475px;
  color: #1C2752;
}

.service__p1 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  color: #7E7E7E;
}

.service__boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  gap: 20px;
  width: 1200px;
}

.service__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 380px;
  height: 378px;
  padding: 50px 38px;
  background: #1C2752;
}

.service__h5 {
  font-family: Mulish;
  font-size: 25px;
  font-weight: 400;
  line-height: 37.5px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #FFB342;
  margin: 0;
}

.service__p2 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #D2D2D2;
}

.service__a {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  text-decoration: none;
  color: #FFFFFF;
}

.service__img {
  width: 48px;
  height: 48px;
}

/* ================= choose ============================================ */

.choose {
  display: flex;
  padding-top: 120px;
  margin: 0 auto;
  justify-content: center;
  width: 1440px;
}

.choose__img {
  width: 720px;
}

.choose__box {
  background: #1C2752DB;
  width: 560px;
  position: relative;
  margin: 0 50px;
  padding-left: 80px;

}

.choose__ul {
  margin-top: -650px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 100px 0;
}

.choose__li {
  display: flex;
}

.choose__p1 {
  width: 110px;
  height: 67px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: #FFB342;
  border: 1px solid #FFB342;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Mulish;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.36000001430511475px;
  color: #1C2752;
}

.choose__p2 {
  font-family: Mulish;
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.36000001430511475px;
  display: flex;
  padding-left: 15px;
  align-items: center;
  color: #FFFFFF;
  width: 290px;
  height: 67px;
  border: 1px solid #D2D2D2;
  ;
}

.choose__right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #FFFFFF;
  padding: 105.5px 110px;
  gap: 15px;

}

.choose__right-icon {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 207px;
  gap: 15px;
  background: #F4F4F4;
}

.choose__right-p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #1C2752;
}

.choose__right-h1 {
  font-family: Mulish;
  font-size: 45px;
  font-weight: 400;
  line-height: 58.5px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #1C2752;
}

.choose__right-p2 {
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #7E7E7E;
}

.choose__right-li {
  display: flex;
  gap: 20px;
}

.choose__right-img {
  width: 32px;
  height: 32px;
}

.choose__right-h5 {
  font-family: Mulish;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #1C2752;
  margin: 0;
}

.choose__conteiner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
}

.choose__right-li-items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.choose__right-ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

/* ================ gallery ============================================== */

.gallery {
  display: flex;
  padding-bottom: 120px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 1440px;
  background: #1C2752;
  flex-direction: column;
  gap: 20px;
}

.gallery__icon {
  display: flex;
  justify-content: center;
  /* text-align: center; */
  align-items: center;
  width: 207px;
  gap: 15px;
  background: #F4F4F4;
  margin-top: 150px;
}

.gallery__icon-p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  color: #1C2752;

}

.gallery__h1 {
  font-family: Mulish;
  font-size: 45px;
  font-weight: 400;
  line-height: 58.5px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  color: #FFFFFF;
}

.gallery__items {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.gallery__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 477px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: #FFFFFF;
  border: 1px solid #D2D2D2
}

.gallery__h2 {
  font-family: Mulish;
  font-size: 25px;
  font-weight: 400;
  line-height: 37.5px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  color: #1C2752;
}

.gallery__p {
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  color: #7E7E7E;
}

/* ======================== meet ================================================= */

.meet {
  display: flex;
  padding-bottom: 100px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 1440px;
  background: #ffffff;
  gap: 20px;
}

.meet__conteiner {
  display: flex;
  width: 1200px;
  gap: 20px;
  margin-top: 150px;
}

.meet__icon {
  display: flex;
  justify-content: center;
  /* text-align: center; */
  align-items: center;
  width: 207px;
  gap: 15px;
  background: #F4F4F4;
}

.meet__icon-p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  color: #1C2752;
}

.meet__h1 {
  font-family: Mulish;
  font-size: 45px;
  font-weight: 400;
  line-height: 58.5px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #1C2752;
  padding: 40px 0;
}

.meet__boxes {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 591px;
  height: 378px;
  padding: 40px;
  border: 1px solid #DDDDDD
}

.meet__boxe {
  display: flex;
  justify-content: space-between;
}

.meet__icon1 {
  width: 55px;
  height: 55px;
}

.meet__speaker {
  display: flex;
}

.meet__speaker-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;

}

.meet__speaker-box-h5 {
  font-family: Mulish;
  font-size: 22px;
  font-weight: 400;
  line-height: 30.8px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #1C2752;
  margin: 0;
  padding: 0;
}

.meet__speaker-box-p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #7E7E7E;
}

.meet__speaker-img {
  width: 70px;
  height: 70px;
}

.meet__box-p {
  font-family: Inter;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #7E7E7E;
}

.meet__box-span {
  font-family: Inter;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #1C2752;
  font-style: normal
}

.meet__button-right {
  display: flex;
  gap: 10px;

}

.meet__button-right1 {
  background: #FFFFFF;
  border: #ffffff;
}

.meet__qyestion {
  display: flex;
  background: #FFB342;
  padding: 50px 30px;
  margin-top: 20px;
  flex-direction: column;
  gap: 20px;
  width: 591px;
  height: 330px;

}

.meet__qyestion-h5 {
  font-family: Mulish;
  font-size: 25px;
  font-weight: 400;
  line-height: 32.5px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #1C2752;
  margin: 0;
}

.meet__qyestion-p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #1C2752;
}

.meet__qyestion-call {
  display: flex;
  gap: 20px;
  /* text-align: center; */
  align-items: center;
}

.meet__qyestion-call-a {
  font-family: Mulish;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #FFFFFF;
  text-decoration: none;
}

.meet__form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 564px;
  height: 728px;
  background: #F4F4F4;

}

.meet__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.meet_form-label {
  width: 484px;
  height: 65px;
  border: 1px solid #CCCCCC;
  opacity: 0px;
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #1C2752;
  padding-left: 30px;
}

.meet_form-button {
  width: 484px;
  height: 68px;

  background: #FFB342;
  border: 2px solid #FFB342;
  font-family: Inter;
  font-size: 17px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #1C2752;
  text-align: center;
}

.meet_form-textarea {
  width: 484px;
  height: 150px;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #1C2752;
  border: 1px solid #CCCCCC;
  padding: 20px 30px;
  resize: none;
  box-sizing: border-box;
  outline: none;
}

/* ==================== clients =================================================== */

.clients {
  display: flex;
  flex-direction: column;
  padding-bottom: 120px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 1440px;
  background: #ffffff;
  gap: 20px;
}

.clients__icon {
  display: flex;
  justify-content: center;
  /* text-align: center; */
  align-items: center;
  width: 207px;
  gap: 15px;
  background: #F4F4F4;
}

.clients__icon-p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  color: #1C2752;
}

.clients__h1 {
  font-family: Mulish;
  font-size: 45px;
  font-weight: 400;
  line-height: 58.5px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  color: #1C2752;
}

.clients__ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
  padding-top: 10px;
}

/* ===================== price ========================================== */

.price {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 120px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 1440px;
  gap: 20px;
}

.price__conteiner {
  display: flex;
  flex-direction: column;
  width: 1200px;
  gap: 20px;
  margin-top: 50px;
}

.price__icons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.price__icon {
  display: flex;
  width: 207px;
  gap: 15px;
  background: #FFFFFF;
}

.price__icon-p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  color: #1C2752;
}

.price__h1 {
  font-family: Mulish;
  font-size: 45px;
  font-weight: 400;
  line-height: 58.5px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #1C2752;
  width: 497px;
  height: 117px;
}

.price__top {
  display: flex;
  gap: 100px;
}

.price__top-p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #7E7E7E;
  padding-right: 25px;
  margin-top: 26px;
}

.price__items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-top: 20px;
}

.price__item {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 663px;
  background: #FFFFFF;
  padding: 30px 40px;
}

.price__item-title {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
  color: #1C2752;
  margin: 0;
}

.price__item-p {
  font-family: Mulish;
  font-size: 32px;
  font-weight: 400;
  line-height: 35.2px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #1C2752;
}

.price__item-p1 {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3199999928474426px;
  text-align: left;
  color: #7E7E7E;
}

.price__item-box {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-bottom: 20px;
}

.price__item-box-popular {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: -21px;
}

.price__item-box-color {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3199999928474426px;
  text-align: left;
  color: #1C2752;
  width: 98px;
  height: 24px;
  text-align: center;
  background: #FFB342;
  padding: 0 5px;
}

.price__item-hr {
  border: 1px solid #DDDDDD;
  width: 320px;
}

.price__ul {
  display: flex;
  gap: 20px;
  padding-top: 20px;
  flex-direction: column;
}

.price__li {
  display: flex;
  gap: 20px;
  align-items: center;
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #7E7E7E;
}

.price__button {
  width: 300px;
  height: 68px;
  background: #FFB342;
  border: 2px solid #FFB342;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  color: #1C2752;
  margin-top: 80px;
}

.price__bottom {
  display: flex;
  gap: 30px;
}

.price__bottom-li {
  display: flex;
  gap: 10px;
}

.price__bottom-img {
  width: 32px;
  height: 32px;

}

.price__bottom-h5 {
  font-family: Mulish;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #1C2752;
  margin: 0;
}

.price__bottom-p {
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #7E7E7E;
  padding-top: 10px;
}

/* ================== stay ============================ */

.stay {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 120px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 1440px;
  gap: 20px;
  background: #FFFFFF;
}

.stay__container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  gap: 20px;
  margin-top: 50px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.stay__icon {
  display: flex;
  width: 207px;
  gap: 15px;
  background: #F4F4F4;
  align-items: center;
  justify-content: center;
}

.stay__icon-p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  color: #1C2752;
}

.stay__h1 {
  font-family: Mulish;
  font-size: 45px;
  font-weight: 400;
  line-height: 58.5px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  color: #1C2752;
}

.stay__boxes {
  display: flex;
  gap: 20px;
}

.stay__h3 {
  font-family: Mulish;
  font-size: 30px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #1C2752;
  padding-top: 30px;
}

.stay__p {
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #7E7E7E;
}

.stay__box-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.stay__more {
  font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.4000000059604645px;
    text-align: left;
    color: #1C2752;
    text-decoration: none;
}
.stay__box {
  display: flex;
    align-items: center;
      justify-content: center;
      margin-top: -20px;


}

.stay__box-name {
    display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      background: #FFC368;
      padding: 10px 20px;
        font-family: Inter;
          font-size: 15px;
          font-weight: 400;
          line-height: 22.5px;
          letter-spacing: 0.30000001192092896px;
          text-align: center;
          color: #1C2752;
}
.stay__box-clock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background: #FFB342;
  padding: 10px;
    font-family: Inter;
      font-size: 15px;
      font-weight: 400;
      line-height: 22.5px;
      letter-spacing: 0.30000001192092896px;
      text-align: center;
      color: #1C2752;
}
