html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol, 
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
} */

body {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--text-color-p);
  background-color: var(--body-background-color);
}

:root {
  --text-color: #212121;
  --beckground-color: #2196f3;
  --text-color-p: #757575;
  --body-background-color: #FFFFFF;
  --button-hover-focus: #188ce8;
  --footer-bacground-color: #2f303a;
  --teams-bacground-color: #f5f4fa;
  --border-color: #eeeeee;
  --icone-color: #afb1b8;
  --icone-bg-color: #f5f4fa;
  --timing-functione: cubic-bezier(0.4, 0, 0.2, 1);
  --hed-ap-color: #F2F2F2;

}
.hed__ap {
  display: flex;
    justify-content: space-between;
    align-items: center;
  width: 1440px;
  height: 69px;
  padding: 0 50px;
  margin: 0 auto;
  opacity: 0px;
  background-color: var(--hed-ap-color);
}
.hed__ap-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}
.hed__ap-p {
  font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: #1C2752;
}
.hed__ap-icons {
    display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
}

/* .sections {
  padding-top: 94px;
  padding-bottom: 94px;
}
